/* *,
*:before,
*:after {
 box-sizing: border-box;
}
body{
    box-sizing: border-box;
    border-style:dotted;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;

} */
h3 {
    text-align: center;
}
/* q {
    border: 100px blue groove ; 
    border-image: url(../../screenshot.png) 25 25 round;
    border-style: solid;
    
}
.love {  */
    /* border-width: 100px;
    border-right-style: groove;
    /* border-color: black; */
    /* border: 100px blue groove ; 
    border-right: 20px yellow dotted;
    border-bottom: 20px orange double;
    border-radius: 100%;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-right: 120px;
    margin-top: 120px;
    margin-right: 120px;
    margin-left: 120px;
    margin-bottom: 0px; */
} 
 span {
    border-style: solid;
    /* padding-top: 50px; */
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 100px;
 }
 a {
    border-style:solid;
    margin-left: 30px;
    margin-top: 500px;
 } 