
 section {
    border-style: solid;
    display: flex;
    justify-content: center;
     margin: 0 auto;
    width: 50%; 
 }
 

p {
    border-style: solid ;
    /* border-right: 10px;
     margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;  */
    display: flex;
    align-items: center;
  justify-content: center;
}
   