#first-img {
    height: 100px;
    width: 100px;
}
#second-img {
    height: 50px;
    width: 100px;
}
#third-img {
    height: 80px;
    width: 100px;
}
.parent {
    background-color: #af47ff;
    padding: 30px;
    width: 500px;
    
   }
   .child {
    background-color: #ff4797;
    padding: 30px;
   }
   .box {
    background-color: #f3ff47;
    padding: 30px;
    border: 2px solid #333;
    border-style: dotted;
    font-family: courier;
    text-align: justify;
    font-size: 1rem;
   }
   
    img {
    clear: both;
    float: left;
    /* float: right; */
    padding: 20px 20px 0px 0px;
   } 
   
   span { 
    clear: right;
    float: right;
    margin: 20px 10px 20px 20px;
    padding: 10px;
    border: 1px solid black;
  
   }
   
   .sparent {
    background-color: #af47ff;
    padding: 30px;
    width: 500px;
    margin-top: 100px;
   }
   .schild {
    background-color: #ff4797;
    padding: 30px;
   }
   .sbox {
    background-color: #f3ff47;
    padding: 30px;
    border: 2px solid #333;
    border-style: dotted;
    font-family: courier;
    text-align: justify;
    font-size: 1rem;
    clear: left;
   }
  
  
   